In [33]:
from collections import deque
a = [66.25, 333, 333, 1, 1234.5]

In [2]:
a

[66.25, 333, 333, 1, 1234.5]

In [4]:
a.count(333)

2

In [6]:
a.append(10)

In [7]:
a

[66.25, 333, 333, 1, 1234.5, 10, 10]

In [9]:
a[len(a):] = [10]

In [10]:
a

[66.25, 333, 333, 1, 1234.5, 10, 10, 10]

In [11]:
b = [-1,-2]

In [12]:
a[len(a):] = b

In [24]:
a

[66.25, 333, 333, 1, 1234.5, 10, 10, 10, -1, -2]

In [25]:
a = [66.25, 333, 333, 1, 1234.5, 10, 10, 10, -1, -2]

In [28]:
a.index(333)
a.remove(333)

In [29]:
a

[66.25, 333, 1, 1234.5, 10, 10, 10, -1, -2]

In [30]:
a.pop(0)

66.25

In [31]:
a

[333, 1, 1234.5, 10, 10, 10, -1, -2]

In [32]:
a.pop()

-2

In [34]:
queue = deque(a)

In [35]:
queue

deque([66.25, 333, 333, 1, 1234.5])

In [36]:
queue.append(10)

In [37]:
queue

deque([66.25, 333, 333, 1, 1234.5, 10])

In [40]:
queue

deque([333, 333, 1, 1234.5])

## Functional Programming Tools


1. **filter(function, sequence)**
2. **map(function, sequence)**
3. **reduce(function, sequence)**

In [42]:
def f(x): return x % 3 == 0 or x % 5 == 0
filter(f, range(2, 25))

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24]

In [44]:
def cube(x): return x*x*x
map(cube, range(1,10))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

**Can also pass multiple sequences to map function**

In [45]:
seq = range(1,10)
def add(x,y): return x+y
map(add, seq, seq)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [46]:
reduce(add, seq)

45

## List Comprehensions

- Provide a concise method to create lists

In [54]:
#Without list comprehension

squares = []
for x in range(1,10):
    squares.append(x**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
### Using List Comprehension
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
map(lambda x: x**2, range(1,10))

[1, 4, 9, 16, 25, 36, 49, 64, 81]